@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
*{
    margin: 0;
    padding: 0;
}
h1{
    margin: 130px 0px 0px 0px;
    font-size: 108px;
    color: #217C7E;
    -webkit-animation: h1 2s ease-in-out infinite alternate;
    -moz-animation: h1 2s ease-in-out infinite alternate;
    animation: h1 2s ease-in-out infinite alternate;
}
@-webkit-keyframes h1{
    from {
          text-shadow: 0 0 5px #01b8e7, 0 0 10px #fff, 0 0 15px #0080be, 0 0 20px #012644, 0 0 25px #024c7b, 0 0 30px #01477b, 0 0 35px #202124;
        }
      to {
        text-shadow: 0 0 10px #ffffff, 0 0 15px #d8535d, 0 0 20px #c7272c, 0 0 25px #610c11, 0 0 30px #90121b, 0 0 35px #cb212c, 0 0 40px #f8334a;
   }
    }
.h3{
    margin: 20px 0px 0px 0px;
    font-size: 300px;
    color: #217C7E;
}
.container{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100vh;
    background-image: url(https://i.ibb.co/nccCmbg/360-F-287871802-Grrm-M4-Rg-BQt7hf-IPYFTk-Rqaj2-Fb8xv-Y4.jpg);
    background-size: cover;
}

nav{
    width: 100%;
    height: 0px;
   background-color: transparent;
   -webkit-animation: nav 1s ease-in-out infinite alternate;
    -moz-animation: nav 1s ease-in-out infinite alternate;
    animation: nav 1s ease-in-out infinite alternate;
}
@-webkit-keyframes nav{
    from {
        text-shadow: 0 0 10px #580c11, 0 0 20px #720d13, 0 0 30px #b52f50, 0 0 40px #1b406a, 0 0 50px #35d5f7, 0 0 60px #8ffcff, 0 0 70px #e60073;
      }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #6260c0, 0 0 50px #934eb3, 0 0 60px #a949cf, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
body{
     overflow-x: hidden; 
    background-color: rgb(12 10 10);
    content: "\2764";
     animation: transitionIn 4s;   
}
ul li {
    list-style: none;
     display: inline-block;
     line-height: 100px; 
}
.contact {
    position:relative; 
    left: 700px; 
    font-size: 30px;
}
.Home {
    position:relative; 
    left: 100px;
    font-size: 30px;
}
.About {
    position:relative; 
    left: 200px;
}
.Work {
    position:relative; 
    left: 300px;
        font-size: 30px;
        color: red;

}
.Goals {
    position:relative; 
    left: 400px;
        font-size: 30px;

}
ul li a {
    text-decoration: none;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #7ef3ff;
}
/* Gameing projects*/
.pro {
    color:white;
     position:relative; 
    left: 100px;
    top: 100px;
 
   }
.h3{
    color:white;
    position:relative; 
    left: 120px;
    top: 100px;
    font-size: 32px;
}

.work {
    padding:150px;
    border: 18px solid #b7b3b3;
    margin: 20px;
    position: relative; 
    left: 0px;
    top: 200px;
} 
.fol{
    color:white;
     position:relative; 
    left: -60px;
    top: -70px; 
    font-size: 40px;
}
.p{
    color:white;
     position:relative; 
    left: -60px;
    top: -70px; 
    font-size: 23px;
}
img {
    width: 300px;
    height: auto;
    border-width: 6px;
    border-image: initial;
    border-style: outset;
    border-color: rgb(57, 150, 167);
    position:absolute; 
    left: 1000px;
    top: 20px;
}
.new{
    width: 260px;
    height: auto;
    position:absolute; 
    left: 1400px;
    top: 20px;
}
